# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/linux-64/_libgcc_mutex-0.1-conda_forge.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ca-certificates-2024.9.24-h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/ld_impl_linux-64-2.40-h12ee557_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/libstdcxx-ng-11.2.0-h1234567_1.conda
https://conda.anaconda.org/conda-forge/linux-64/libgomp-14.2.0-h77fa898_1.conda
https://conda.anaconda.org/conda-forge/linux-64/_openmp_mutex-4.5-2_gnu.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcc-14.2.0-h77fa898_1.conda
https://conda.anaconda.org/conda-forge/linux-64/libgcc-ng-14.2.0-h69a702a_1.conda
https://conda.anaconda.org/conda-forge/linux-64/libgfortran5-14.2.0-hd5240d6_1.conda
https://conda.anaconda.org/conda-forge/linux-64/openssl-3.3.2-hb9d3cd8_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/libffi-3.4.4-h6a678d5_1.conda
https://conda.anaconda.org/conda-forge/linux-64/libgfortran-14.2.0-h69a702a_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/lz4-c-1.9.4-h6a678d5_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/ncurses-6.4-h6a678d5_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/xz-5.4.6-h5eee18b_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/zlib-1.2.13-h5eee18b_1.conda
https://conda.anaconda.org/conda-forge/linux-64/libgfortran-ng-14.2.0-h69a702a_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/readline-8.2-h5eee18b_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/tk-8.6.14-h39e8969_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/zstd-1.5.6-hc292b87_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/blosc-1.21.3-h6a678d5_0.conda
https://conda.anaconda.org/conda-forge/linux-64/libopenblas-0.3.27-pthreads_hac2b453_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/sqlite-3.45.3-h5eee18b_0.conda
https://conda.anaconda.org/conda-forge/linux-64/libblas-3.9.0-24_linux64_openblas.conda
https://repo.anaconda.com/pkgs/main/linux-64/python-3.8.19-h955ad1f_0.conda
https://conda.anaconda.org/conda-forge/noarch/asciitree-0.3.3-py_2.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/click-8.1.7-py38h06a4308_0.conda
https://conda.anaconda.org/conda-forge/noarch/fasteners-0.17.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcblas-3.9.0-24_linux64_openblas.conda
https://conda.anaconda.org/conda-forge/linux-64/liblapack-3.9.0-24_linux64_openblas.conda
https://repo.anaconda.com/pkgs/main/noarch/mccabe-0.7.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/mypy_extensions-1.0.0-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/packaging-24.1-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pathspec-0.10.3-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/platformdirs-3.10.0-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pycodestyle-2.12.1-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pyflakes-3.2.0-py38h06a4308_0.conda
https://conda.anaconda.org/conda-forge/linux-64/python_abi-3.8-2_cp38.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ruff-0.3.5-py38hab49468_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/setuptools-75.1.0-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/tomli-2.0.1-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/typing_extensions-4.11.0-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/wheel-0.44.0-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/black-24.8.0-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/flake8-7.1.1-py38h06a4308_0.conda
https://conda.anaconda.org/conda-forge/linux-64/msgpack-python-1.0.3-py38h43d8883_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numpy-1.22.3-py38h99721a1_2.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pip-24.2-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/numcodecs-0.12.1-py38h2c38b39_0.conda
https://conda.anaconda.org/conda-forge/noarch/zarr-2.17.1-pyhd8ed1ab_0.conda
